  <div>
    <% @posts.each do |post| %>
      <div class="content_post_detail">
        <div class="show-title"><%= post.title %></div>
        <div class="show-text"><%= post.text %></div>
      </div>
    <% end %>
   <p class="index-headline"><%= @nickname %>さんの投稿一覧</p>


  </div>