  <div class="contents" >
    <% @posts.each do |post| %>
      <div class="content_post">
            <div class="index-title">
            <%= post.title %>
            </div>
            <div class="title"><%= post.text.length %></div>
            <div class="link-text">
            <%= link_to '記事をみる', "/posts/#{post.id}", method: :get %>
            </div>
      </div>
    <% end %>
  </div>