.content_post {
  margin :50px auto 0;
  width: 620px;
  border-radius: 60px;
  background-color: #85FF36;
  position: relative;
}
.content_post:before {
  content: "";
  position: absolute;
  top: 58%;
  left: 100%;
  border: 18px solid transparent;
  border-left: 40px solid #85FF36;
}
.contents_box {
  width: 750px;
  border-radius: 10px;
  background-color: #85FF36;
  margin: 70px auto;
  padding: 25px;
  position: relative;
}
.contents_box:before {
  content: "";
  position: absolute;
  top: 99%;
  left: 50%;
  margin-left: -15px;
  border: 17px solid transparent;
  border-top: 30px solid #85FF36;
}
// top画面一覧
.title {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 135pt;
  line-height: 160px;
}
.index-title {
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}
.link-text {
  text-align: center;
  padding-bottom: 15px;
}
.link-text a:link { color:black; }
.link-text a:visited { color: black; }
.link-text a:hover { color: #B5B5B5; }
.link-text a:active { color: black; }

// 投稿画面
.form-title,.form-text,.form-send {
  border-style: none;
  background-color: white;
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 15px;
}
.form-title,.form-text {
  margin-bottom: 20px;
}
.form-title {
  height: 50px;
}
.form-text {
  height: 230px;
}
.form-send {
  background-color: #223253;
  height: 50px;
  text-align: center;
  color: white;
}

.success-box {
  display: block;
  width: 200px;
  margin: 70px auto 40;
}
.success-text {
  font-size: 16px;
  text-align: center;
}
.success-a {
  text-align: center;
}
.index-headline {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
}