
.content_post_detail {
  margin :50px auto 0;
  width: 620px;
  border-radius: 60px;
  background-color: #85FF36;
  position: relative;
  padding: 50px;
  min-height: 300px;
}
.content_post_detail:before {
  content: "";
  position: absolute;
  top: 99%;
  left: 50%;
  margin-left: -15px;
  border: 20px solid transparent;
  border-top: 30px solid #85FF36;
}
.show-title {
  text-align: center;
  font-size: 25px;
  padding-bottom: 40px;
}
.show-text {
  line-height: 30px;
  letter-spacing: -1px;
  text-align:justify;
  padding-bottom: 20px;
}
.show-btn {
  display: block;
  text-align: center;
}
.show-btn li {
  display: inline;
  margin: 0 10px;
}
.user {
font-size: 18px;
margin-top: 40px;
text-align: center;
}